Source: rtcom-accounts-ui
Priority: optional
Maintainer: Ivaylo Dimitrov <ivo.g.dimitrov.75@gmail.com>
Build-Depends:
 debhelper (>= 11),
 libgtk2.0-dev,
 libhildon1-dev,
 libosso-abook-dev,
 libosso-dev,
 libaccounts-dev,
 hildon-control-panel-dev,
 libtelepathy-glib-dev,
 libdbus-glib-1-dev,
 x11proto-dev,
 libconic0-dev,
 libdbus-1-dev,
 libhildonmime-dev,
 librtcom-accounts-ui-client-dev
Standards-Version: 4.1.3
Vcs-Browser: https://github.com/maemo-leste/rtcom-accounts-ui
Vcs-Git: https://github.com/maemo-leste/rtcom-accounts-ui.git

Package: rtcom-accounts-ui
Section: comm
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
 osso-applet-accounts-l10n-mr0 | osso-applet-accounts-l10n-mr,
 hildon-common-strings-l10n-mr0 | hildon-common-strings-l10n-mr,
 ke-recv-l10n-mr | ke-recv-l10n-mr0
Description: RTCOM Accounts applet
 The account management applet, coming both as a standalone
 application and as a plugin for account management in Hildon
 Control panel and other applications

Package: librtcom-accounts-ui-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: rtcom-accounts-ui (= ${binary:Version}), ${misc:Depends}
Description: Development files for the accounts applet
 This package provides API to create the accounts dialog
 .
 Contains the header files and static libraries

Package: librtcom-accounts-widgets0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: RTC accounts library
 A widget and utility library for convenient building of RTC account
 plugins

Package: librtcom-accounts-widgets-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: librtcom-accounts-widgets0 (= ${binary:Version}), libhildon1-dev, libaccounts-dev
Description: Development files for the RTC accounts library
 A widget and utility library for convenient building of RTC account
 plugins
 .
 Contains the header files and static libraries
